doctype html
html
	head
		// Standard Meta
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0')
		// Site Properties
		title #{title}
		link(rel='stylesheet', type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css')
		style(type='text/css').
			.hidden.menu {
				display: none;
			}
			.masthead.segment {
				min-height: 700px;
				padding: 1em 0em;
				background: url("/assets/images/blue_mountains_taiwan.jpg") !important;
			}
			.masthead .logo.item img {
				margin-right: 1em;
			}
			.masthead .ui.menu .ui.button {
				margin-left: 0.5em;
			}
			.masthead h1.ui.header {
				color: navy;
				margin-top: 3em;
				margin-bottom: 0em;
				font-size: 4em;
				font-weight: normal;
			}
			.masthead h2 {
				color: darkblue;
				font-size: 1.7em;
				font-weight: normal;
			}
			.masthead p {
				color: darkblue;
			}
			.ui.vertical.stripe {
				padding: 8em 0em;
			}
			.ui.vertical.stripe h3 {
				font-size: 2em;
			}
			.ui.vertical.stripe .button + h3,
			.ui.vertical.stripe p + h3 {
				margin-top: 3em;
			}
			.ui.vertical.stripe .floated.image {
				clear: both;
			}
			.ui.vertical.stripe p {
				font-size: 1.33em;
			}
			.ui.vertical.stripe .horizontal.divider {
				margin: 3em 0em;
			}
			.quote.stripe.segment {
				padding: 0em;
			}
			.quote.stripe.segment p {
				max-width: 50%;
				margin: auto;
			}
			.quote.stripe.segment .grid .column {
				padding-top: 5em;
				padding-bottom: 5em;
			}
			.footer.segment {
				padding: 5em 0em;
			}
			.secondary.pointing.menu .toc.item {
				display: none;
			}
			#topnav > * {
				color: steelblue;
			}
			@media only screen and (max-width: 700px) {
				.ui.fixed.menu {
					display: none !important;
				}
				.secondary.pointing.menu .item,
				.secondary.pointing.menu .menu {
					display: none;
				}
				.secondary.pointing.menu .toc.item {
					display: block;
				}
				.masthead.segment {
					min-height: 350px;
				}
				.masthead h1.ui.header {
					font-size: 2em;
					margin-top: 1.5em;
				}
				.masthead h2 {
					margin-top: 0.5em;
					font-size: 1.5em;
				}
			}
	body
		// Following Menu
		.ui.large.top.fixed.hidden.menu
			.ui.container
				a.active.item Home
				a.item About Me
				a.item UI / UX Design
				a.item Backend
				a.item Photography
				a.item Contact
		// Sidebar Menu
		.ui.vertical.inverted.sidebar.menu
			a.active.item Home
			a.item About Me
			a.item UI / UX Design
			a.item Backend
			a.item Photography
			a.item Contact
		// Page Contents
		.pusher
			.ui.vertical.masthead.center.aligned.segment
				.ui.container
					#topnav.ui.large.secondary.menu
						a.active.item Home
						a.item About
						a.item UI / UX Design
						a.item Backend
						a.item Photography
				.ui.text.container
					h1.ui.header Hi, I'm Sean
					h2 I gravitate toward multi-disciplinary intersections
					p Photography | Design | Psychology | Mathematics | Computing | Physics
			.ui.vertical.stripe.quote.segment
				.ui.equal.width.stackable.internally.celled.grid
					.center.aligned.row
						.column
							h3 Breadth
							p I love learning new technologies, getting my hands dirty, and witness its potential for myself.
							br
							p I am a unique problem solver due to a variety of experiences; ranging from leadership, to research.
						.column
							h3 Depth
							p I love diving in deep into a topic, accumulating an unshakeable mental model of it.
							br
							p I am a generalist, capable of being specialist when necessary, whilst melding cross-domain knowledge to aid in problem solving.
			.ui.vertical.stripe.segment
				.ui.text.container
					h3.ui.header Breaking The Grid, Grabs Your Attention
					p
						| Instead of focusing on content creation and hard work, we have learned how to master the art of doing nothing by providing massive amounts of whitespace and generic content that can seem massive, monolithic and worth your attention.
					a.ui.large.button Read More
					h4.ui.horizontal.header.divider
						a(href='#') Case Studies
					h3.ui.header Did We Tell You About Our Bananas?
					p
						| Yes I know you probably disregarded the earlier boasts as non-sequitur filler content, but its really true. It took years of gene splicing and combinatory DNA research, but our bananas can really dance.
					a.ui.large.button I'm Still Quite Interested
			.ui.inverted.vertical.footer.segment
				.ui.container
					.ui.stackable.inverted.divided.equal.height.stackable.grid
						.three.wide.column
							h4.ui.inverted.header This is a footer!
							.ui.inverted.link.list
								a.item.active Home
								a.item About Me
								a.item UI / UX Design
								a.item Backend
								a.item Photography
								a.item Contact
